@model WebProgramlamaOdev.Models.Hasta
@{
    Layout = "_LayoutAna";
}
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hasta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HastaAdSoyad" class="control-label"></label>
                <input asp-for="HastaAdSoyad" class="form-control" />
                <span asp-validation-for="HastaAdSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HastaTC" class="control-label"></label>
                <input asp-for="HastaTC" class="form-control" />
                <span asp-validation-for="HastaTC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HastaPass" class="control-label"></label>
                <input asp-for="HastaPass" class="form-control" />
                <span asp-validation-for="HastaPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
