@model WebProgramlamaOdev.Models.Randevu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RandevuID" />
            <div class="form-group">
                <label asp-for="HastaID" class="control-label"></label>
                <select asp-for="HastaID" class="form-control" asp-items="ViewBag.HastaID"></select>
                <span asp-validation-for="HastaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BolumID" class="control-label"></label>
                <select asp-for="BolumID" class="form-control" asp-items="ViewBag.BolumID"></select>
                <span asp-validation-for="BolumID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoktorID" class="control-label"></label>
                <select asp-for="DoktorID" class="form-control" asp-items="ViewBag.DoktorID"></select>
                <span asp-validation-for="DoktorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaatID" class="control-label"></label>
                <select asp-for="SaatID" class="form-control" asp-items="ViewBag.SaatID"></select>
                <span asp-validation-for="SaatID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
