@{
	Layout = "_LayoutAna";
}
@{
	ViewData["Title"] = "Login";
}

<form action="\Home\Giris" method="post">
	<table>
		<tr>
			<td>Admin Mail</td>
			<td>:</td>
			<td><input type="text" name="AdminEmail"></td>
		</tr>
		<tr>
			<td>Admin Şifre</td>
			<td>:</td>
			<td><input type="password" name="AdminPass"></td>
		</tr>
		<tr>
			
			<td colspan="3"><input type="submit" vale="Gönder"></td>
		</tr>
	</table>
</form>
