@{
    Layout = "_LayoutAna";
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@_localization.Getkey("welcome")</h1>
    <p>@_localization.Getkey("homeyazi")</p>
</div>
