@{
    Layout = "_LayoutAna";
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş geldiniz</h1>
    <p>Randevu almak veya giriş yapmak için yukarıdan randevu al butonuna tıklayınız.</p>
</div>
