<style>
    body {
        background-image: url('/resimler/arkaplan.jpg');
        background-size: cover;
        background-position: center;
        /* İsterseniz ekstra stiller ekleyebilirsiniz */
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f8f9fa; /* İsterseniz arka plan rengini ayarlayabilirsiniz */
        padding: 10px 0; /* İsteğe bağlı: footer içeriğine boşluk ekler */
        .col-md-4

    {
        width: 200px;
        max-width: 100%;
    }

    .row {
        /* border-radius: 5px;
            background-color: rgba(13, 202, 240, 0.52);*/
        display: flex;
        margin-left: 150px;
        align-content: center;
        justify-content: center;
        width: 400px;
    }

    h4 {
        /* background-color: rgba(13, 202, 240, 0.52); /* Rengi ve saydamlığı buradan ayarlayabilirsin
              border-radius: 5px; */ /* İsteğe bağlı: Köşeleri yuvarlama */
        padding: 10px;
        margin-right: 145px;
        margin-left: 150px;
        max-width: 400px; /* veya istediğin genişlik */
        width: 100%;
    }

    .pb-3 {
        height: 73vh;
    }

    .btn-primary {
        color: #fff;
        background-color: #1c0df0b3; /* Bu kısım butonun arka plan rengini belirler */
        border-color: #1c0df0b3; /* Bu kısım butonun kenarlık rengini belirler */
    }

    .center-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url('/resimler/arkaplan.jpg'); /* Resim yolunu doğru şekilde güncelleyin */
        background-size: cover; /* Resmi kaplamak için */
        background-position: center;
    }

    .form-container {
        max-width: 400px; /* veya istediğin genişlik */
        width: 100%;
    }
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProgramlamaOdev</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProgramlamaOdev.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebProgramlamaOdev</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HastaGiris">Randevu Al</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RandevuControl">Randevu kontrol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Giris">Admin Girişi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">@Context.Session.GetString("Sessionuser")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cikis">Çıkış</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebProgramlamaOdev - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
